
  <%= form_for @post do |form| %>
    <div class="input-field col s6" >
      <%= form.label :title %>
      <%= form.text_field :title, class: "form-control",required: true %>
    </div>
  
    <div class="input-field col s6">
      <%= form.label :content %>
      <%= form.text_area :content, class: "form-control" %>
    </div>

    <div class="input-field col s6">
    <%= form.label :img, 'Image' %>
    <%= form.text_field :img, class: "form-control" %>
    <small> image as URL for now </small>
</div>
  
  <%= form.submit "Submit", :class => "btn waves-effect waves-light" %>

  <% end %>
  