
<div class="container">
<h6 class="card-title" style="size:10px;">posted by:<br/>
<%= @post.user.email%>:
</h6>
<h1 class="title"> <%= @post.title %></h1>

<div class="card-img-top"><%= image_tag(@post.img, size: "200x200", alt: "Post Image")%></div>
<br/>
<div class="content">
<%= @post.content %>
</div>


<% if user_signed_in? %>
<%if current_user.id == @post.user_id%>
<%= link_to "Edit", edit_post_path(@post),class: "text-success" %>
<%= link_to "Delete", post_path(@post),class:"text-danger" , method: :delete, data: {confirm:"Are you sure you want to delete"}%>
<%end%>
<%end%>
<hr>
</div>



<div style=" margin: 10px 5px 15px 20px;" >
    
<h4><%= @post.comments.count%> comments </h4>


<% @post.comments.each do |r| %> 
<%= r.comment%>

<% if user_signed_in? %>
<br>
<%if current_user.id == r.user_id%>
<%= link_to "Edit", edit_comment_path(r),class: "text-success" %>
<%= link_to "Delete", comment_path(r) , method: :delete,class:"text-danger", data: {confirm:"Are you sure you want to delete the post?"}%>
<br>
<%end%>
<hr>
<%end%>
<%end%>
<br/>
<h2>leave a comment</h2>
<%= render 'comments/form'%> 
</div>
